.fav-page
    .promo
        .wrapper
            //mob
            .promo__title
                picture
                    source(media="(max-width: 600px)" srcset="img/promo/titleText-mob.png")
                    img(src="img/promo/titleText-tab.png" alt="text")
            .promo__match
                .promo__team.team.team1
                    .team-man
                        picture
                            source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob.png")
                            source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab.png")
                            img(src="img/promo/man-ukr-desk.png" alt="footballer")
                    .team-text
                        picture
                            source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob.png")
                            source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab.png")
                            img(src="img/promo/text-ukr-desk.png" alt="text")
                .promo__match-title
                    img(src="img/promo/titleText-desk.png" alt="text")
                .promo__team.team.team2
                    .team-man
                        picture
                            source(media="(max-width: 600px)" srcset="img/promo/man-bel-mob")
                            source(media="(max-width: 1300px)" srcset="img/promo/man-bel-tab")
                            img(src="img/promo/man-bel-desk.png" alt="footballer")
                    .team-text
                        picture
                            source(media="(max-width: 600px)" srcset="img/promo/text-bel-mob")
                            source(media="(max-width: 1300px)" srcset="img/promo/text-bel-tab")
                            img(src="img/promo/text-bel-desk.png" alt="text")
            .promo__prize
                p.promo__prize-title #[span На кону] призовий фонд
                .promo__prize-money
                    picture
                        source(media="(max-width: 600px)" srcset="img/promo/prize-mob")
                        source(media="(max-width: 1300px)" srcset="img/promo/prize-tab")
                        img(src="img/promo/prize-desk.png" alt="prize")
                a(href="/login/" role="button").promo__prize-btn.btn #[span.btn-text(data-translate="loginBtn") Авторизуйся]
                .promo__prize-bonusTxt #[span +Бонус]<br> «Страховка ставки»
                .promo__prize-bonusImg
                    picture
                        source(media="(max-width: 600px)" srcset="img/promo/bonus-mob")
                        source(media="(max-width: 1300px)" srcset="img/promo/bonus-tab")
                        img(src="img/promo/bonus-desk.png" alt="prize")
                p.promo__prize-conditions З 19 до 23 березня 2025 року роби свої прогнози на точні рахунки матчів, прогнозуй <br>перший гол, роби ставки від 200 ₴ та розділи призовий фонд.
    .gide
        .wrapper
            .gide__title
                picture
                    source(media="(max-width: 600px)" srcset="img/gide/gideTitle-mob")
                    source(media="(max-width: 1300px)" srcset="img/gide/gideTitle-tab")
                    img(src="img/gide/gideTitle-desk.png" alt="text")
            //popup
            .gide__popup
                .gide__popup-close
                .gide__popup-txt
                    p #[span Авторизуйся] на акційній сторінці, натиснувши кнопку «Авторизуйся», або зареєструйся як користувач. Обери точний рахунок матчів та команду, яка забʼє першою протягом проведення Акції.
                    p #[span Після введення] точного рахунку основного часу матчу та вибору команди, натискай кнопку «Зробити прогноз». В акції враховуватиметься лише останній прогноз, зроблений Учасником до вказаного часу кожного окремого матчу.
                    p #[span Роби ставки від 200 ₴] на матчі, на кожен окремий матч в Акції. Враховуються виключно розраховані ставки типу «Ординар», з мінімальним коефіцієнтом – 2.0.
                    p #[span Ставки з Бонусного рахунку], з ознакою «Cash Out», «Повернення ставки», ставки із застосованим бонусом «Страховка ставки», ставки з розділу «Cybersport (Pinnacle)» та «Fantasy football» - не враховуються.
            .gide__list
                .gide__list-item
                    .gide__list-bg
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideCard1-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideCard1-tab")
                            img(src="img/gide/gideCard1-desk.png" alt="card")
                    .gide__list-txt
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideTxt1-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideTxt1-tab")
                            img(src="img/gide/gideTxt1-desk.png" alt="text")
                    .gide__list-btn.btn #[span.btn-text(data-translate="MoreInfo") Детальніше]
                .gide__list-item
                    .gide__list-bg
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideCard2-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideCard2-tab")
                            img(src="img/gide/gideCard2-desk.png" alt="card")
                    .gide__list-txt
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideTxt2-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideTxt2-tab")
                            img(src="img/gide/gideTxt2-desk.png" alt="text")
                .gide__list-item
                    .gide__list-bg
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideCard3-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideCard3-tab")
                            img(src="img/gide/gideCard3-desk.png" alt="card")
                    .gide__list-txt
                        picture
                            source(media="(max-width: 600px)" srcset="img/gide/gideTxt3-mob")
                            source(media="(max-width: 1300px)" srcset="img/gide/gideTxt3-tab")
                            img(src="img/gide/gideTxt3-desk.png" alt="text")
    .predict
        .wrapper
            .predict__title
                picture
                    source(media="(max-width: 600px)" srcset="img/predict/predictTitle-mob")
                    source(media="(max-width: 1300px)" srcset="img/predict/predictTitle-tab")
                    img(src="img/predict/predictTitle-desk.png" alt="predict")
            .predict__tabs
                .predict__tabs-global
                    .predict__tabs-score.active Прогноз на рахунок
                    .predict__tabs-goal Прогноз на перший гол
                .predict__tabs-bottom
                    .predict__tabs-txt Обери матч
                    .predict__tabs-dates
                        .predict__tabs-date.active 20.03 12:00
                        .predict__tabs-date 23.03 12:00
            // score-1
            .predict__container.score-1
                .predict__container-teams
                    .predict__team
                        .team.team1.predictTeam
                            .team-man
                                picture
                                    source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob")
                                    source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab")
                                    img(src="img/promo/man-ukr-desk.png" alt="footballer")
                            .team-text
                                picture
                                    source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob")
                                    source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab")
                                img(src="img/promo/text-ukr-desk.png" alt="text")
                    .predict__circle
                        picture
                            source(media="(max-width: 600px)" srcset="img/predict/circle-mob")
                            source(media="(max-width: 1300px)" srcset="img/predict/circle-tab")
                            img(src="img/predict/circle-desk.png" alt="circle")
                    .predict__team
                        .team.team2.predictTeam
                            .team-man
                                picture
                                    source(media="(max-width: 600px)" srcset="img/promo/man-bel-mob")
                                    source(media="(max-width: 1300px)" srcset="img/promo/man-bel-tab")
                                    img(src="img/promo/man-bel-desk.png" alt="footballer")
                            .team-text
                                picture
                                    source(media="(max-width: 600px)" srcset="img/promo/text-bel-mob")
                                    source(media="(max-width: 1300px)" srcset="img/promo/text-bel-tab")
                                    img(src="img/promo/text-bel-desk.png" alt="text")
                .predict__container-calculations
                    .predict__info Найпопулярніші прогнози
                    .predict__forecasts
                        .predict__forecasts-item #[span 20%] 0-2
                        .predict__forecasts-item #[span 20%] 0-2
                        .predict__forecasts-item #[span 20%] 0-2
                    .predict__btn.btn #[span.btn-text(data-translate="doPredict") Зробити прогноз]
                    .predict__last
                        .predict__last-title
                            .predict__last-img
                                img(src="img/clock.svg" alt="clock")
                            .predict__last-txt Твій останній прогноз
                        .predict__last-score
                            .predict__last-team1 Україна
                            .predict__last-counter
                                span.scoreTeam1 0
                                .predict__last-vs
                                    img(src="img/vs.png" alt="vs")
                                span.scoreTeam2 0
                            .predict__last-team2 Бельгія
                        .predict__last-confirmed Підтверджений
                        .predict__last-unconfirmed Непідтверджений
            //score-2
            .predict__container.score-2
                .predict__container-teams
                    .predict__team.team
                        .team-man
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab")
                                img(src="img/promo/man-ukr-desk.png" alt="footballer")
                        .team-text
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab")
                                img(src="img/promo/text-ukr-desk.png" alt="text")
                    .predict__circle
                        picture
                            source(media="(max-width: 600px)" srcset="img/circle-mob")
                            source(media="(max-width: 1300px)" srcset="img/circle-tab")
                            img(src="img/text-ukr-desk.png" alt="circle")
                    .predict__team.team
                        .team-man
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab")
                                img(src="img/promo/man-ukr-desk.png" alt="footballer")
                        .team-text
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab")
                                img(src="img/promo/text-ukr-desk.png" alt="text")
                .predict__container-calculations
                    .predict__info Найпопулярніші прогнози
                    .predict__forecasts
                        .predict__forecasts-item #[span 20%] 0-2
                        .predict__forecasts-item #[span 20%] 0-2
                        .predict__forecasts-item #[span 20%] 0-2
                    .predict__btn.btn #[span.btn-text(data-translate="doPredict") Зробити прогноз]
                    .predict__last
                        .predict__last-title
                            .predict__last-img
                                img(src="img/clock.png" alt="clock")
                            .predict__last-txt Твій останній прогноз
                        .predict__last-score
                            .predict__last-team1 Україна
                            .predict__last-counter
                                span.scoreTeam1 0
                                .predict__last-vs
                                    img(src="img/vs.png" alt="vs")
                                span.scoreTeam2 0
                            .predict__last-team2 Бельгія
                        .predict__last-confirmed Підтверджений
                        .predict__last-unconfirmed Непідтверджений
            //goal-1
            .predict__container.goal-1
                .predict__container-teams
                    .predict__team.team
                        .team-man
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab")
                                img(src="img/promo/man-ukr-desk.png" alt="footballer")
                        .team-text
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab")
                                img(src="img/promo/text-ukr-desk.png" alt="text")
                        label.predict__radio
                            input(type="radio", name="Ukr", value="1", hidden)
                            predict__radio-default.img(src="radio.png", alt="option")
                            predict__radio-checked.img(src="img3-checked.jpg", alt="Вибрано")
                            .predict__radio-txt Обрати
                    .predict__zero
                        .predict__zero-img
                            picture
                                source(media="(max-width: 600px)" srcset="img/zero-mob")
                                source(media="(max-width: 1300px)" srcset="img/zero-tab")
                                img(src="img/zero-desk.png" alt="zero")
                        label.predict__radio
                            input(type="radio", name="Ukr", value="1", hidden)
                            predict__radio-default.img(src="radio.png", alt="option")
                            predict__radio-checked.img(src="img3-checked.jpg", alt="Вибрано")
                            .predict__radio-txt Обрати
                    .predict__team.team
                        .team-man
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/man-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/man-ukr-tab")
                                img(src="img/promo/man-ukr-desk.png" alt="footballer")
                        .team-text
                            picture
                                source(media="(max-width: 600px)" srcset="img/promo/text-ukr-mob")
                                source(media="(max-width: 1300px)" srcset="img/promo/text-ukr-tab")
                                img(src="img/promo/text-ukr-desk.png" alt="text")
                        label.predict__radio
                            input(type="radio", name="Ukr", value="1", hidden)
                            predict__radio-default.img(src="img/predict/radio.png", alt="option")
                            predict__radio-checked.img(src="img/predict/img-checked.jpg", alt="Вибрано")
                            .predict__radio-txt Обрати
                .predict__container-calculations
                    .predict__btn.btn #[span.btn-text(data-translate="doPredict") Зробити прогноз]
                    .predict__last
                        .predict__last-title
                            .predict__last-img
                                img(src="img/predict/clock.svg" alt="clock")
                            .predict__last-txt Твій останній прогноз
                        .predict__last-goal
                            .predict__last-txt Перший гол:
                            .predict__last-country Україна
                            .predict__last-confirmed Підтверджений
                            .predict__last-unconfirmed Непідтверджений
            //goal-2
            .predict__container.goal-1
            .predict__container-teams
                .predict__team1
                    .predict__team1-card
                        //picture
                        //    source(media="(max-width: 600px)" srcset="img/card-ukr-mob")
                        //    source(media="(max-width: 1300px)" srcset="img/card-ukr-tab")
                        //    img(src="img/card-ukr-desk.png" alt="card")
                    .predict__team1-man
                        picture
                            source(media="(max-width: 600px)" srcset="img/man-ukr-mob")
                            source(media="(max-width: 1300px)" srcset="img/man-ukr-tab")
                            img(src="img/man-ukr-desk.png" alt="footballer")
                    .predict__team1-text
                        picture
                            source(media="(max-width: 600px)" srcset="img/text-ukr-mob")
                            source(media="(max-width: 1300px)" srcset="img/text-ukr-tab")
                            img(src="img/text-ukr-desk.png" alt="text")
                    label.predict__radio
                        input(type="radio", name="Ukr", value="1", hidden)
                        predict__radio-default.img(src="radio.png", alt="option")
                        predict__radio-checked.img(src="img3-checked.jpg", alt="Вибрано")
                        .predict__radio-txt Обрати
                .predict__zero
                    .predict__zero-img
                        picture
                            source(media="(max-width: 600px)" srcset="img/zero-mob")
                            source(media="(max-width: 1300px)" srcset="img/zero-tab")
                            img(src="img/zero-desk.png" alt="zero")
                    label.predict__radio
                        input(type="radio", name="Ukr", value="1", hidden)
                        predict__radio-default.img(src="radio.png", alt="option")
                        predict__radio-checked.img(src="img3-checked.jpg", alt="Вибрано")
                        .predict__radio-txt Обрати
                .predict__team2
                    .predict__team2-card
                        //picture
                        //    source(media="(max-width: 600px)" srcset="img/card-bel-mob")
                        //    source(media="(max-width: 1300px)" srcset="img/card-bel-tab")
                        //    img(src="img/card-bel-desk.png" alt="card")
                    .predict__team2-man
                        picture
                            source(media="(max-width: 600px)" srcset="img/man-bel-mob")
                            source(media="(max-width: 1300px)" srcset="img/man-bel-tab")
                            img(src="img/man-bel-desk.png" alt="footballer")
                    .predict__team2-text
                        picture
                            source(media="(max-width: 600px)" srcset="img/text-bel-mob")
                            source(media="(max-width: 1300px)" srcset="img/text-bel-tab")
                            img(src="img/text-bel-desk.png" alt="text")
                    label.predict__radio
                        input(type="radio", name="Ukr", value="1", hidden)
                        predict__radio-default.img(src="radio.png", alt="option")
                        predict__radio-checked.img(src="img3-checked.jpg", alt="Вибрано")
                        .predict__radio-txt Обрати
            .predict__container-calculations
                .predict__btn.btn #[span.btn-text(data-translate="doPredict") Зробити прогноз]
                .predict__last
                    .predict__last-title
                        .predict__last-img
                            img(src="img/clock.svg" alt="clock")
                        .predict__last-txt Твій останній прогноз
                    .predict__last-goal
                        .predict__last-txt Перший гол:
                        .predict__last-country Україна
                        .predict__last-confirmed Підтверджений
                        .predict__last-unconfirmed Непідтверджений
    .table
        .wrapper
            .table__title
                img(src="img/table-title.png" alt="clock")
            .table__wrap#results-table
                .table__head
                    .table__head-item(data-translate="tableId") ID Учасника
                    .table__head-item(data-translate="tablePredict") Прогноз
                    .table__head-item(data-translate="tablePrize") Винагорода
                    .table__head-item(data-translate="") Бонус
                .table__body
                    .table__body-scroll
            .table__bottom
                p * Точний приз (Бонус) у вигляді визначеної кількості електронних грошових замінників та додаткового бонусу буде відомий після закінчення матчу та доданий в таблицю наступного робочого дня. Призовий фонд (а саме 250 000 ₴ на кожен окремий матч) буде розподілено між учасниками, та які вказали точний рахунок виключно основного часу матчу та зробили підтверджувальну ставку, умови якої прописані в Офіційних правилах участі в Акції «Голи чи нулі?» в п.9.2 - 9.4.
                p **Бонус надається у випадку вірно вказаного рахунку матчу.
            .table__drop
                details.dropdown
                    summary(data-translate="rulesTitle") Офіційні правила акції «Голи чи нулі?»
                    .drop-txt
                        .drop-txt-list(data-translate="rulesTxt")

            .table__details *Під призовим фондом у 500 000 ₴ мається на увазі отримання призу у вигляді електронних грошових замінників в Акції «Голи чи нулі?». Деталі на сайті www.favbet.ua. Період дії акції – з 18.03.2025 до 21:15 23.03.2025 року








